<a href="https://colab.research.google.com/github/kush-sg/Python/blob/Self-Notes/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON

# LOOPS

> Python programming language provides the following types of loops to handle looping requirements. Python provides three ways for executing the loops. 

1.   FOR LOOP
2.   WHILE LOOP
3.   NESTED LOOP

## Practice Questions


---
---
https://csiplearninghub.com/python-loops-practice-questions/#

> LEVEL:1

Q1 What is the output of the following

In [ ]:
for i in "Myblog":
  print(i,'?',end=" ")

M ? y ? b ? l ? o ? g ?

In [ ]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4

In [ ]:
for i in range(10,15):
  print(i, end=" ")

10 11 12 13 14

Q2 Write a program to print first 10 natural numbers.

In [ ]:
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

Q3 Write a program to print first 10 even number

In [ ]:
for i in range(2,21,2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
#dyaamic way
n= int(input("Print even number upto: "))
for i in range(2,2*n+1,2):
  print(i, end=" ")

Print even number upto: 10
2 4 6 8 10 12 14 16 18 20

Q4 Write a program to print first 10 odd numbers

In [ ]:
for i in range(1,20,2):
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
#dynamic way
n= int(input("Print Odd number upto: "))
for i in range(1,2*n+1,2):
  print(i, end=" ")

Print Odd number upto: 10
1 3 5 7 9 11 13 15 17 19

Q5 Write a program to print first 10 even numbers in reverse order

In [ ]:
for i in range(20,1,-2):
  print(i, end=" ")

20 18 16 14 12 10 8 6 4 2

Q6 Write a program to print table of a number accepted from user

In [ ]:

a = int(input("Print table of "))
b = int(input("Print table upto "))
for i in range(a,a*b+1,a):
  print(i, end=" ")

Print table of 4
Print table upto 10
4 8 12 16 20 24 28 32 36 40

Q7 Write a program to display product of the digits of the number accepted from the user

In [4]:
a=2145
div= a/10
Q= a//10
R= a%10
print(div,Q,R)

214.5 214 5

In [6]:
a= int(input("Enter Value "))
pro=1
while a>0:
  pro=pro*(a%10)
  a=a//10
print(pro)

Enter Value 21547
280

Q8 Write a program to display Sum of the digits of the number accepted from the user

In [8]:
a= int(input("Enter Value "))
sum=0
while a>0:
  sum= sum+a%10
  a=a//10
print(sum)

Enter Value 21547854
36

Q9 WAP to find factorial of a number

In [12]:
a=int(input("Enter your Number "))
fact=1
while a>0:
  fact=fact*a
  a=a-1
print(fact)

Enter your Number 3
6

Q10 WAP to check whether a number is Prime or Not

In [19]:
a= int(input("Enter the Number "))
count= 0
i=1
while i<=5:
  if (a%i == 0):
    count=count+1
  i=i+1
if (count==2):
  print("Prime")
else:
  print("Non-Prime")

Enter the Number 47
Non-Prime