<a href="https://colab.research.google.com/github/kush-sg/Python/blob/Self-Notes/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON

# LOOPS

> Python programming language provides the following types of loops to handle looping requirements. Python provides three ways for executing the loops. 

1.   FOR LOOP
2.   WHILE LOOP
3.   NESTED LOOP

## Practice Questions


---
---

Q1 What is the output of the following

In [3]:
for i in "Myblog":
  print(i,'?',end=" ")

M ? y ? b ? l ? o ? g ?

In [6]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4

In [8]:
for i in range(10,15):
  print(i, end=" ")

10 11 12 13 14

Q2 Write a program to print first 10 natural numbers.

In [10]:
for i in range(1,11):
  print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

Q3 Write a program to print first 10 even number

In [11]:
for i in range(2,21,2):
  print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [14]:
#dyaamic way
n= int(input("Print even number upto: "))
for i in range(2,2*n+1,2):
  print(i, end=" ")

Print even number upto: 10
2 4 6 8 10 12 14 16 18 20

Q4 Write a program to print first 10 odd numbers

In [15]:
for i in range(1,20,2):
  print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

In [18]:
#dynamic way
n= int(input("Print Odd number upto: "))
for i in range(1,2*n+1,2):
  print(i, end=" ")

Print Odd number upto: 10
1 3 5 7 9 11 13 15 17 19

Q5 Write a program to print first 10 even numbers in reverse order

In [20]:
for i in range(20,1,-2):
  print(i, end=" ")

20 18 16 14 12 10 8 6 4 2

Q6 Write a program to print table of a number accepted from user

In [30]:

a = int(input("Print table of "))
b = int(input("Print table upto "))
for i in range(a,a*b+1,a):
  print(i, end=" ")

Print table of 4
Print table upto 10
4 8 12 16 20 24 28 32 36 40

Q7 Write a program to display product of the digits of the number accepted from the user