<a href="https://colab.research.google.com/github/kush-sg/Python/blob/main/Roadmap_DataStructure_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Roadmap - Data Structure

Data Structures are methods for organizing, managing, and storing data in the most efficient way possible to allow for quick
access and modification.

#**List** 

The list is one of the inbuilt data types used to store multiple elements.
A list is created by putting the comma-separated elements in square brackets [ ]



1.  Adding elements using append, extend and insert function.
2.  List Slicing.
3.  Applying aggregation on the list.
    > min( ) and max( ) 
4.  Converting a string into a list.
    > ```
      list('Kushagra') 
      ```
5.  Adding to the List
    > append( )
    > ```
      l = [1,2,3,4] 
      l.append(5) # it takes only single value
      ```
    > extend( )
    > ```
      l = [1,2,3,4] 
      l.extend([5,6]) # it takes multiple value
      ```  
    > insert( )
    > ```
      l = [1,2,3,4] 
      l.insert(3,6) # it insert element at specific position
      3 is position
      6 is element
      ```   
6.  Removing the elements from the list.
    > remove( )
    > ```
      l = [1,2,3,4] 
      l.remove(3) # it remove element from the list
                    3 is the value
      ```  
    > pop( )
    > ```
      l = [1,2,3,4] 
      l.pop(3) # it pops-out element from the list
                 3 is the *index* value
      ```  
    > clear( )
    > ```
      l = [1,2,3,4] 
      l.clear() # it removes all the values
      ```

In [7]:
# takes values as input
l = [1,2,3,4]
l.remove(1)
print(l)

[2, 3, 4]

In [9]:
# takes index values
x = [2,5,8,5,6,3]
x.pop(3)

5